<div class="card w-25 mb-3">
  <div class="card-body">
    <a href="/dashboard/updateblogpost/{{id}}" id="blog-title" class="card-title">{{title}}</a>
    <p class="card-text">Created On: {{format_date date_posted}}</p>
  </div>
  <a href="#" class="btn btn-primary mb-3 mx-3" id="delete-blogpost" style="width: 50%; padding: 3px;" type="submit">Delete Post</a>
</div>