<div class="card mb-3 me-3" style="width: 88%; min-width:fit-content;">
  <div class="card-header mb-0">
    <a class="card-title on-hover" href="/blogpost/{{id}}" id="blog-title">{{title}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">Created On: {{format_date date_posted}}</p>
  </div>
</div>