<div class="card w-25 mb-3">
  <div class="card-body">
    <a href="/blogpost/{{id}}" id="blog-title" class="card-title">{{title}}</a>
    <p class="card-text">Created On: {{format_date date_posted}}</p>
  </div>
</div>