<div class="card mb-3" style="width: 25rem; min-width:fit-content;">
  <div class="card-header mb-0">
    <h2 id="blog-title" class="card-title">{{title}}</h2>
  </div>
  <div class="card-body">
    <p class="card-text">Created On: {{format_date date_posted}}</p>
  </div>
  <a href="/dashboard/updateblogpost/{{id}}" class="edit-post-btns btn btn-primary mb-3 mx-3" id="edit-post-button"
    style="width: 30%; padding: 3px;" type="submit">Edit Post</a>
</div>