<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h6 class="card-text">{{this.content}}</h6>
    <p class="card-text">Comment By: {{this.user.username}} on {{format_date this.date_posted}}</p>
  </div>
</div>