<div class="card mb-3 me-3" style="width: 95%">
  <div class="card-body">
    <a href="/blogpost/{{id}}" id="blog-title" class="card-title">{{title}}</a>
    <p class="card-text">Created On: {{format_date date_posted}}</p>
  </div>
</div>