<div class="card">
  <div class="form-floating m-3">
    <input type="text" class="form-control" id="add-blogpost-title" placeholder="">
    <label for="floatingInput">BlogPost Title</label>
  </div>
    <div class="form-floating m-3">
      <textarea class="form-control" placeholder="" id="add-blogpost-content"
            style="height: 200px"></textarea>
      <label for="floatingTextarea2">BlogPost Content</label>
    </div>
    <button class="btn btn-primary mb-3 mx-3" id="add-blogpost" style="width: 8%; padding: 3px;" type="submit">Create</button>
</div>

<script src="/js/addblogpost.js"></script>