<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="card">
      <div class="form-group m-3">
        <label for="add-blogpost-title" class="form-label custom-label" style="font-weight:500;">BlogPost Title</label>
        <input type="text" class="form-control" id="add-blogpost-title" placeholder="">
      </div>
      <div class="form-group m-3">
        <label for="add-blogpost-content" class="form-label custom-label" style="font-weight:500;">BlogPost
          Content</label>
        <textarea class="form-control" placeholder="" id="add-blogpost-content" style="height: 200px"></textarea>
      </div>
      <button class="btn btn-primary mb-3 mx-3" id="add-blogpost" style="width:min-content; padding: .75rem;"
        type="submit">Create</button>
    </div>
  </div>
</div>



<script src="/js/addblogpost.js"></script>