<div class="card" id="add-comment" style="width: 50rem">
    <div class="mb-3">
        <input type="text" class="form-control" id="comment-content" placeholder="Write comment here...">
    </div>
    <button class="btn btn-primary" id="add-comment" style="width: 12%; padding: 8px;" type="submit">Submit</button>
</div>

<script src="/js/addcomment.js"></script>