<div class="p-2" style="background: blue">
    <h3 class="ms-4 mt-3">My BlogPosts</h3>
    <h5 class="ms-4">Click the blogpost title to edit post</h5>
    <a href="/dashboard/addblogpost" type="button" class="btn btn-primary ms-4 mt-2 mb-2">Add BlogPost</a>
</div>

{{#each blogPosts as |blogPost|}}
{{> blogsummary}}
{{/each}}
