<div class="card text-center mb-3" style="width: 55rem;">
  <div class="card-body">
    <h5 class="card-title">Login or SignUp</h5>
    <p class="card-text">Please login or signup to continue.</p>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/signup" class="btn btn-primary">signUp</a>
  </div>
</div>

