<div class="login-card">
    <h2 class="page-title" style="font-size: 1.5rem">Login</h2>
    <form class="login-form">
        <div class="mb-3">
            <label for="email-login" class="form-label" style="font-size: .75rem">Email:</label>
            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label" style="font-size: .75rem">Password:</label>
            <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary" style="font-size: 0.5rem padding: 0.25rem 1rem">Login</button>
    </form>
</div>
<div style="width: 50rem">
    <h1 class="mx-auto text-center separator">OR</h1>
</div>
<div class="login-card">
    <h2 class="page-title" style="font-size: 1.5rem">SignUp</h2>
    <form class="signup-form">
        <div class="mb-3">
            <label for="username-signup" class="form-label" style="font-size: .75rem">Username:</label>
            <input type="text" class="form-control" id="username-signup">
        </div>
        <div class="mb-3">
            <label for="email-signup" class="form-label" style="font-size: .75rem">Email:</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label" style="font-size: .75rem">Password:</label>
            <input type="password" class="form-control" id="password-signup">
        </div>
        <button type="submit" class="btn btn-primary" style="font-size: 0.5rem padding: 0.25rem 1rem">SignUp</button>
    </form>
</div>

<script src="./js/login.js"></script>