<div class="container">
  <div class="card">
    <div class="form-group m-3">
      <label for="update-blogpost-title" class="form-label custom-label" style="font-weight:500;">BlogPost Title</label>
      <input type="text" class="form-control" id="update-blogpost-title" placeholder="" value="{{blogPost.title}}">
    </div>
    <div class="form-group m-3">
      <label for="update-blogpost-content" class="form-label custom-label" style="font-weight:500;">BlogPost Content</label>
      <textarea class="form-control" id="update-blogpost-content" name="content"
        style="height: 200px">{{ blogPost.content }}</textarea>
    </div>
    <div class="row d-flex justify-content-space-between m-3" style="width: 100%">
    <button class="btn btn-primary ms-1 me-3" id="update-blogpost" style="width:min-content; padding: .75rem;"
      type="submit">Update</button>
    <button class="btn btn-primary mx-3" id="delete-blogpost" style="width:min-content; padding: .75rem;"
      type="submit">Delete</button>
  </div>
  </div>
</div>



<script src="/js/updateblogpost.js"></script>
<script src="/js/deleteblogpost.js"></script>