.login-card {
 margin: 1rem;
 padding: 1rem;
 border: 1px solid black;
 border-radius: 10px;
 width: 50rem;
}

.card {
    margin: 2rem;

}

.card-title {
    font-size: 1.2rem;
}

a .card-title:hover {
    cursor: pointer;
}

.card-subtitle {
    font-size: 1rem;
}

.card-text {
    font-size: .8rem;
}

.separator {
    padding: 3%;
    font-size: 2rem;
}

#add-comment {
    padding: 1rem;
}